<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo đơn</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>    
      <!--Page Content-->
      <main>
        <div id="createorder_content">
          <div id="address_col">
            <form action="/" method="post">
              <label for="name">Tên người nhận </label><br>
              <input type="text" name="name" id="name" required><br>
              <label for="phone">Số điện thoại </label><br>
              <input type="text" name="phone" id="phone" minlength="10" maxlength="10" required><br>
              <label for="email">Tên người nhận </label><br>
              <input type="email" name="email" id="email" required><br>
              <label for="city">Thành phố</label><br>
              <select name="city" id="city">
                <option value="">Hà Nội</option>
                <option value="">Đà Nẵng</option>
                <option value="">Hồ Chí Minh</option>
              </select>
              <br>
              <label for="district">Quận/Huyện</label><br>
              <select name="district" id="district">
                <option value="">Thường Tín</option>
                <option value="">Chương Mỹ</option>
                <option value="">Cầu Giấy</option>
              </select>
              <br>
              <label for="village">Xã/Phường</label><br>
              <select name="village" id="village">
                <option value="">Tân Xá</option>
                <option value="">Thạch Hòa</option>
                <option value="">Gia Lâm</option>
              </select>
              <br>
              <label for="detail_loc">Địa chỉ cụ thể</label><br>
              <input type="text" name="detail_loc" id="detail_loc"/>
            </form>

          </div>  
          <div id="paymethod_col">
            <form action="/" method="post">
              <input type="radio" name="payment_method" id="cod"/>
              <label for="cod">Trả tiền sau khi nhận hàng</label><br/>
              <input type="radio" name="payment_method" id="bank">
              <label for="bank">Thanh toán qua ngân hàng</label>
            </form>
          </div>
          <div id="createor_col">
            <table>
              <tr>
                <td>Tổng tiền: </td>
                <td>60000đ</td>
              </tr>
              <tr>
                <td colspan="2">Tụ điện 3V x80</td>
              </tr>
              <tr>
                <td colspan="2">Tụ điện 5V x200</td>
              </tr>
              <tr>
                <td colspan="2"><button type="submit">Xác nhận đặt hàng</button></td>
              </tr>
            </table>
          </div>
        </div>
      </main>        
  </body>
</html>